/* =================================================== */
/* Fonts */
/* =================================================== */

@font-face {
	font-family: 'Mazzard';
	font-weight: 400;
	src: url('./fonts/mazzard-h-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Mazzard';
	font-weight: 600;
	src: url('./fonts/mazzard-h-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Mazzard';
	font-weight: 700;
	src: url('./fonts/mazzard-h-bold.woff2') format('woff2');
}


/* =================================================== */
/* Variables */
/* =================================================== */

:root {
	--iceberg: #D6EBE4;
	--coral: #F18B62;
	--navy: #213053;
	--mustard: #FFCD28;
	--mint: #20BFA9;
	--icewhite: #F9FAFB;
	--darkgreen: #105559;
	--lightpink: #FAE2DA;
	--grass: #2D947A;
	--bubblegum: #F86C9C;
	--brown: #270000;
	--skyblue: #1787FC;
	--orange: #F18B62;
	--iceacle: #EBF5FF;
	--blackboard: #2E2E36;
	--coolgrey: #7F828A;
	--greycloud: #DFDFDF;
	--palepink: #FFF8F8;
	--offwhite: #F5F5F5;
	--red: #F8574C;
	--midnight: #1D263A;
	--white:  #FFFFFF;
	--navybutton: #0A043C;
}


/* =================================================== */
/* Elements */
/* =================================================== */

body {
	font-family: 'Mazzard', sans-serif;
}

a {
	text-decoration: none;
}


/* =================================================== */
/* Utilities */
/* =================================================== */

.u-wrap {
	margin: 0 auto;
	max-width: 1360px;
	padding: 32px;
	width: 100%;
}


/* =================================================== */
/* Section: Hero */
/* =================================================== */

.hero {
	background-color: var(--iceberg);
}

.hero__logo {
	color: var(--navy);
	font-size: 24px;
	font-weight: 700;
	padding-right: 56px;
}

.hero__dot {
	color: var(--coral);
}

.hero__head {
	display: flex;
}

.hero__link {
	color: var(--midnight);
	font-size: 17px;
	font-weight: 600;
	padding: 20px;
}

.hero__link.hero__link--right {
	padding-left: 300px;
}


.hero__button {
	color: var(--white);
	border-radius: 10px;
	background: var(--navybutton);
	padding: 16px 32px 14px 31px; 
	
}
