/* =================================================== */
/* Fonts */
/* =================================================== */

@font-face {
	font-family: 'Mazzard';
	font-weight: 400;
	src: url('./fonts/mazzard-h-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Mazzard';
	font-weight: 600;
	src: url('./fonts/mazzard-h-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Mazzard';
	font-weight: 700;
	src: url('./fonts/mazzard-h-bold.woff2') format('woff2');
}


/* =================================================== */
/* Variables */
/* =================================================== */

:root {
	--iceberg: #D6EBE4;
	--coral: #F18B62;
	--navy: #213053;
}


/* =================================================== */
/* Elements */
/* =================================================== */

body {
	font-family: 'Mazzard', sans-serif;
}

a {
	text-decoration: none;
}


/* =================================================== */
/* Utilities */
/* =================================================== */

.u-wrap {
	margin: 0 auto;
	max-width: 1360px;
	padding: 32px;
	width: 100%;
}


/* =================================================== */
/* Section: Hero */
/* =================================================== */

.hero {
	background-color: var(--iceberg);
}

.hero__logo {
	color: var(--navy);
	font-size: 24px;
	font-weight: 700;
}

.hero__dot {
	color: var(--coral);
	margin-left: -6px;
}